<div class='card'>
  <div class='card-header panel-class'>
    <h4>{{pageTitle}}</h4>
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>
        <h6> Filter By:</h6>
      </div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='filterValue' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'>
        <h6>Filtered By: {{filterValue}}</h6>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length > 0'>
        <thead>
          <th>
            <button class='btn btn-primary' (click)='toggleImage()'>
              {{showImage ? 'Hide': 'Show'}} Image
            </button></th>
          <th>Product Name</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Model Number</th>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td><img *ngIf='showImage' class='photo-class' [src]='product.image'></td>
            <td>{{product.name}}</td>
            <td>{{product.model}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price | currency:'INR'}}</td>
            <td>
              <!-- {{product.rating | number}} -->
              <app-star [rating]='product.rating' (ratingClicked)='onRatingClicked($event)'></app-star>
            </td>
            <td>{{product.modelno | lowercase | convertToSpace: '-'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>