<!--The content below is only a placeholder and can be replaced.
<div class="container-fluid">

    <nav class="navbar navbar-expand navbar-toggler bg-light">
        <ul class='nav nav-pills'>
            <li> <a class='nav-link' [routerLink]="['/home']">Home</a></li>
            <li> <a class='nav-link' [routerLink]="['/products']">Products</a></li>
        </ul>
    </nav>

    <div class='container bg-transparent'>
        <router-outlet></router-outlet>
    </div>
</div>-->
<product-view></product-view>